@font-face {
  font-family: Outfit;
  font-weight: 400, 600, 700;
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-semibold;
  font-weight: 600;
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: Young-Serif;
  font-weight: 400;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  width: auto;
  min-height: 100vh;

  background-color: hsl(30, 54%, 90%);
  margin: 0;

  font-size: 1rem;

  display: flex;
  flex-direction: column;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 80vh;
  padding: 32px;
  margin: 120px;

  border-radius: 20px;
}

li {
  padding-left: 2em;
  text-indent: -0.1em;
}

.title {
  font-family: "Young-Serif", sans-serif;
}

section .title {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 20px 0;
}

article .title {
  font-size: 2rem;
  color: hsl(14, 45%, 36%);
  border-top: 1px solid hsl(30, 18%, 87%);
  padding: 15px 0;
}

.bold {
  font-family: "Outfit-semibold", sans-serif;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
}

.preparation .title {
  color: hsl(332, 51%, 32%);
  padding: 5px;
  font-family: "Outfit-semibold", sans-serif;
  font-size: 1.2em;
}

.article-image img {
  max-width: 100%;
  border-radius: 15px;
}

.nutrition-table {
  border-collapse: collapse;
}

.nutrition-table tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-table tr > td {
  width: 50vh;
  padding: 10px;
}
.nutrition-table tr:last-child {
  border-bottom: 0;
}

.nutrition-table td .bold {
  color: hsl(14, 45%, 36%);
}

.attribution {
  display: none;
}
